:root {
  --background: hsl(338.2 0% 100%);
  --foreground: hsl(240.1 11.24% 3.984%);
  --card: hsl(338.2 0% 100%);
  --card-foreground: hsl(240.1 11.24% 3.984%);
  --popover: hsl(338.2 0% 100%);
  --popover-foreground: hsl(240.1 11.24% 3.984%);
  --primary: hsl(240 6.031% 9.981%);
  --primary-foreground: hsl(330 0% 98.03%);
  --secondary: hsl(240 3.51% 95.79%);
  --secondary-foreground: hsl(240 6.031% 9.981%);
  --muted: hsl(240 3.51% 95.79%);
  --muted-foreground: hsl(240.1 4.411% 46.34%);
  --accent: hsl(240 3.51% 95.79%);
  --accent-foreground: hsl(240 6.031% 9.981%);
  --destructive: hsl(352.7 100% 42.89%);
  --destructive-foreground: hsl(352.7 100% 42.89%);
  --border: hsl(240 5.855% 90.03%);
  --input: hsl(240 5.855% 90.03%);
  --ring: hsl(240 5.385% 83.97%);
  --chart-1: hsl(23.04 100% 44.36%);
  --chart-2: hsl(175.3 100% 27.74%);
  --chart-3: hsl(195.8 72.14% 22.87%);
  --chart-4: hsl(45.52 100% 47.23%);
  --chart-5: hsl(39.25 100% 46.18%);
}

.dark {
  --sidebar: hsl(330 0% 98.03%);
  --sidebar-foreground: hsl(240.1 11.24% 3.984%);
  --sidebar-primary: hsl(240 6.031% 9.981%);
  --sidebar-primary-foreground: hsl(330 0% 98.03%);
  --sidebar-accent: hsl(240 3.51% 95.79%);
  --sidebar-accent-foreground: hsl(240 6.031% 9.981%);
  --sidebar-border: hsl(240 5.855% 90.03%);
  --sidebar-ring: hsl(240 5.385% 83.97%);
  --background: hsl(240.1 11.24% 3.984%);
  --foreground: hsl(330 0% 98.03%);
  --card: hsl(240.1 11.24% 3.984%);
  --card-foreground: hsl(330 0% 98.03%);
  --popover: hsl(240.1 11.24% 3.984%);
  --popover-foreground: hsl(330 0% 98.03%);
  --primary: hsl(330 0% 98.03%);
  --primary-foreground: hsl(240 6.031% 9.981%);
  --secondary: hsl(240 4.043% 15.93%);
  --secondary-foreground: hsl(330 0% 98.03%);
  --muted: hsl(240 4.043% 15.93%);
  --muted-foreground: hsl(240.1 5.713% 64.3%);
  --accent: hsl(240 4.043% 15.93%);
  --accent-foreground: hsl(330 0% 98.03%);
  --destructive: hsl(358.8 69.3% 30.07%);
  --destructive-foreground: hsl(356.9 95.9% 57.72%);
  --border: hsl(240 4.043% 15.93%);
  --input: hsl(240 4.043% 15.93%);
  --ring: hsl(240.1 6.004% 34.16%);
  --chart-1: hsl(225.3 84.1% 48.98%);
  --chart-2: hsl(162.2 100% 35.03%);
  --chart-3: hsl(39.25 100% 46.18%);
  --chart-4: hsl(272.1 100% 65.15%);
  --chart-5: hsl(345.4 100% 56.4%);
  --sidebar: hsl(240 6.031% 9.981%);
  --sidebar-foreground: hsl(330 0% 98.03%);
  --sidebar-primary: hsl(225.3 84.1% 48.98%);
  --sidebar-primary-foreground: hsl(330 0% 98.03%);
  --sidebar-accent: hsl(240 4.043% 15.93%);
  --sidebar-accent-foreground: hsl(330 0% 98.03%);
  --sidebar-border: hsl(240 4.043% 15.93%);
  --sidebar-ring: hsl(240.1 6.004% 34.16%);
}